@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

    /*Lo pongo pq me duelen los ojos de ver blanco*/
}

@font-face {
    font-family: 'Nunito', sans-serif;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #163B50;
}

.cover {
    background-color: #C3CEDA;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em #738FA7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alt-login {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div {
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Esto es extra no importa
.google {
    background-image: ;
}
*/

input {
    border: none;
    background-color: white;
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}

input:focus {
    outline-color:#071330;
}

.login-btn {
    width: 40%;
    height: 3em;
    background-color: #9CA6B8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover {
    transform: scale(1.25);
}